#header{
	width:620px;
	position:relative;
}

#header h2{
	display: inline;
}

#header select{
	position: absolute;
	right: 0;
}
#imageWrapper{
	width:620px;
	overflow: auto;
}

#imageList{
	white-space: nowrap;
	margin: 0px;
}

#imageList li{
	display: inline;
	list-style-type: none;
	padding-left: 2px;
	padding-right: 2px;
	cursor: pointer;
}

#imageList li img{
    width: 200px;
	height: 200px;
	margin: auto;
}

#imageList li:hover{
	opacity: 0.5;
}

#currentImage {
	width: 620px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

#currentImage img {
    width: 200px;
	height: 200px;
	margin: auto;
}
