<html ng-app>
  <head>
    <title>Z App</title>
    <script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="album.css" rel="stylesheet" />
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="album.js"></script>
  </head>
  <body>
  	<div ng-controller="AlbumCtrl">
  		<div id="header">
			<h2>{{currentImage.desc}}</h2>
			<select ng-model="categories" ng-options="category for category in imageCategories">
				<option value="">all</option>
				
			</select>
		</div>
  		<div id="currentImage">
  			<img ng-src="{{currentImage.src}}" alt="{{currentImage.desc}}" />
  		</div>
  		
  		<div id="imageWrapper">
  			<ul id="imageList">
  				<li ng-repeat="image in images | filter:categories" ng-click="setCurrentImage(image)">
  					<img ng-src="{{image.src}}" alt="{{image.desc}}" />
  				</li>
  			</ul>
  		</div>
  		
  	</div>
  </body>
</html>